<div class="container">
  <div class="wrap">
    <div class="row">
      <div class="col-12 align-self-center">
        <img class="imgError" src="../../../assets/png/error403.png" height="100px">
      </div>
      <div class="col-12 align-self-center">
        <img class="imgError" src="../../../assets/png/icono.png">
      </div>
      <div class="col-12 align-self-center bodyError">No dispone de los permisos necesarios para acceder a esta
        página
      </div>
      <div class=" justify-content-center d-flex">
        <button class="btn btn-danger" type="button" *ngIf="logged===false" routerLink="/login">Volver al inicio</button>
        <button class="btn btn-danger" type="button" *ngIf="logged===true" routerLink="/home">Volver al inicio</button>
      </div>
    </div>
  </div>
</div>
