<header class="contentHeader">
  <nav class="navbar">
  <span class="navbar-text">
    Simulador de Colas
  </span>
  </nav>
</header>
<ng-container *ngIf="formNum===1">
  <div class="mainContainer">
    <div class="containerRegistration">
      <div class="wrap-forgottenPass">
        <form class="needs-validation" [ngClass]="{'was-validated': wasValidated}" novalidate enctype="multipart/form-data" (ngSubmit)="changeForm($event)" #form>
          <span class="login-title">Recuperar contraseña</span>
          <label class="subHeader" for="nickname">Apodo<span class="asterisk">*</span></label>
          <div class="input-group">
                        <span class="input-group-text">
                            <i class="fa-solid fa-user"></i>
                        </span>
            <input class="form-control" id="nickname" name="nickname" required type="text" placeholder="Apodo" [(ngModel)]="passwordRecoveryForm.nickname">
            <div class="invalid-feedback">
              Es obligatorio introducir el apodo para continuar.
            </div>
          </div>

          <label class="subHeader" for="question">Pregunta de seguridad <span class="asterisk">*</span></label>
          <div class="input-group">
            <select id="question" class="form-select" name="question" required [(ngModel)]="passwordRecoveryForm.securityQuestion">
              <option selected disabled value="">Selecciona una pregunta</option>
              <option [value]="question" *ngFor="let question of preguntaseguridadOpciones">{{ question }}</option>
            </select>
          </div>

          <label class="subHeader" for="answer">Respuesta <span class="asterisk">*</span></label>
          <div class="input-group finalItem">
            <input class="form-control" id="answer" name="answer" required [type]="visibilidadRespuesta ? 'password' : 'text' " placeholder="Respuesta" [(ngModel)]="passwordRecoveryForm.securityAnswer">
            <button (click)="changeVisibilityAnswer()" class="input-group-text d-block" id="toggleAnswer">
              <i id="icon2" [ngClass]="{'far':true, 'fa-eye':visibilidadRespuesta , 'fa-eye-slash':!visibilidadRespuesta}"></i>
            </button>
            <div class="invalid-feedback">
              Es obligatorio introducir la respuesta para continuar.
            </div>
          </div>

          <div class="container-form-btn">
            <a class="homeLink">
              <button type="submit" class="btn btn-corporative form-btn">Continuar</button>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-container>


<ng-container *ngIf="formNum===2">
  <div class="mainContainer">
    <div class="containerRegistration">
      <div class="wrap-forgottenPass">
        <form class="needs-validation" novalidate [ngClass]="{'was-validated': wasValidated}" novalidate enctype="multipart/form-data" (ngSubmit)="confirmPassword($event)" #form>
          <span class="login-title">Nueva contraseña</span>

          <label class="subHeader" for="password1">Nueva contraseña <span class="asterisk">*</span></label>
          <div class="input-group">
                        <span class="input-group-text">
                            <i class="fa-solid fa-lock"></i>
                        </span>
            <input class="form-control" id="password1" name="password1" required [type]="visibilidadPassword1 ? 'password' : 'text' " placeholder="Nueva contraseña" [(ngModel)]="passwordRecoveryForm.password">
            <button (click)="changeVisibilityPassword1()" class="input-group-text d-block">
              <i [ngClass]="{'far':true, 'fa-eye':visibilidadPassword1 , 'fa-eye-slash':!visibilidadPassword1}"></i>
            </button>
            <div class="invalid-feedback">
              Es obligatorio introducir la contraseña para continuar.
            </div>
          </div>

          <label class="subHeader" for="password2">Confirmar contraseña <span class="asterisk">*</span></label>
          <div class="input-group finalItem">
                        <span class="input-group-text">
                            <i class="fa-solid fa-lock"></i>
                        </span>
            <input class="form-control" id="password2" name="password2" required [type]="visibilidadPassword2 ? 'password' : 'text' " placeholder="Confirmar contraseña" [(ngModel)]="passwordConfirmation">
            <button (click)="changeVisibilityPassword2()" class="input-group-text d-block">
              <i [ngClass]="{'far':true, 'fa-eye':visibilidadPassword2 , 'fa-eye-slash':!visibilidadPassword2}"></i>
            </button>
            <div class="invalid-feedback">
              Es obligatorio introducir la contraseña para continuar.
            </div>
          </div>

          <div class="container-form-btn">
            <a class="homeLink" href="login.html">
              <button type="submit" class="btn btn-corporative form-btn">Confirmar<i class="fas fa-spin fa-circle-notch" *ngIf="loading"></i></button>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-container>
