.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.col-12{
    display: flex;
    justify-content: center !important;
    margin-bottom: 40px;
}

.wrap {
    padding: 55px 85px 35px;
    border-radius: 25px;
    box-shadow: 0 0 20px #ff9999;
}

.bodyError{
    font-size: 20px;
}