/* Navbar*/
.contentHeader {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;

}

.size {
    font-size: 20px;
}

.navbar {
    background-color: #ed1212;
    justify-content: left !important;
}

.navbar-text {
    margin-left: 20px;
    color: white;
    font: inherit !important;
    font-weight: bold !important;
}

.burgerButton {
    color: white;
    margin-left: 15px;
}

.burgerButton:hover {
    color: white;
}


/* Left sidenav*/
.sidenav {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #404040;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}


/* Style of dropdowns elements of left sidenav*/
.aside-dropdown > .show {
    background-color: transparent !important;
    position: relative !important;
    transform: none !important;
}

.elementDrop {
    font-size: 12px !important;
    margin-left: 20px;
}


/* Main content*/

/* Add folder or simulation*/
.buttonAdd {
    margin-top: 80px;
}

.menuDropdown > .show {
    transform: translate3d(5px, 50px, 0px) !important;
}

.menuDropdown > .dropdown-menu {
    border: none;
    box-shadow: 0px 3.2px 7.2px 0px rgba(0, 0, 0, 0.13);
}

.btnElem {
    outline: transparent;
    background-color: transparent;
    border: none;
    width: 100%;
    position: relative !important;
    align-items: flex-end;
    display: flex;
}

.elementdropMenu {
    margin-left: 10px;
    margin-right: 10px;
    color: #ffcc66;
}

.elementdropMenu2 {
    margin-left: 10px;
    margin-right: 10px;
    color: #0052cc;
}


/* Section of folder and simulations*/

/* Section's header*/
.folder-title {
    margin-top: 30px;
    margin-left: 105px;
    padding-bottom: 10px;
    font-size: 25px;
    color: #4d4d4d;

}

.folderIconTitle {
    margin-right: 10px;
    color: #ffcc66;
}

.titleText {
    padding-bottom: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 1);
}

/* Card*/
.card-image {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.card {
    margin-left: 30px;
    padding: 10px;
}

.card-img-top {
    border: 1px solid rgba(0, 0, 0, .125);
}

.showMoreEnc {
    margin-top: 40px;
}

.showMore {
    padding-left: 30px;
    padding-right: 30px;
}

.simulationLink {
    text-decoration: none;
    color: black;
}


/* Cards without content*/
.noContentCard {
    height: 9rem;
    width: 95% !important;
    border: none !important;

}

.noContentCard:hover {
    box-shadow: none !important;
    transform: none !important;
    outline: none !important;
    border: none !important;
}


/* General styles*/
.btn {
    color: white;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 5px;
}

.btn:hover {
    color: white;
}

.elementDrop {
    font-size: 12px !important;
    margin-left: 20px;
}

.sidenav a {
    padding: 8px 4px 4px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.home {
    margin-left: 50px;
    font-size: 40px;
}







