<header class="contentHeader">
  <nav class="navbar">
    <div class="row header">
      <div class="col-6 align-items-center d-flex">
        <a *ngIf="header===1" routerLink="/login"><img class="imgHeader" src="../../assets/png/icono.png" height="20px"></a>
        <a *ngIf="header===0" routerLink="/home"><img class="imgHeader" src="../../assets/png/icono.png" height="20px"></a>
        <a class="navbar-text" *ngIf="header===1" routerLink="/login">Simulador de Colas</a>
        <a class="navbar-text" *ngIf="header===0" routerLink="/home">Simulador de Colas</a>
      </div>
      <div class="col-6 justify-content-end d-flex" *ngIf="header===0 && router.url !== '/logout'">
        <button class="logoutButton btn btn-outline-light" routerLink="/logout">Cerrar sesión</button>
      </div>
    </div>
  </nav>
</header>
